* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col-2 {
  width: 15%;
}

.col-4 {
  width: 30%;
}

.col-8 {
  width: 60%;
}

.col-10 {
  width: 75%;
}

.col-12 {
  width: 90%;
}

@media (min-width: 576px) {
  .col-sm-2 {
    width: 15%;
  }

  .col-sm-4 {
    width: 30%;
  }

  .col-sm-6 {
    width: 45%;
  }

  .col-sm-10 {
    width: 75%;
  }

  .col-sm-12 {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .col-md-3 {
    width: 22.5%;
  }
}